<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kanghui Liu">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>JikoPower</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- FONTAWESOME STYLE CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <!-- VEGAS STYLE CSS -->

    <link href="plugins/timeline/lib/cntl.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--     <link href="assets/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" /> -->
    <!-- CUSTOM STYLE CSS -->
    <link href="stylesheets/style.css" rel="stylesheet" />
     <link href="stylesheets/contact.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

     <div class="navbar navbar-inverse navbar-fixed-top scrollclass" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="images/jikobanner.jpg" width="200"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">HOME</a></li>
                     <li><a href="/commitment">COMMITMENT</a></li>
                    <li><a href="/problem">CHALLENGE</a></li>
                    <li><a href="/timeline">TIMELINE</a></li>
                    <li><a href="/team">TEAM</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    
                </ul>
            </div>
  
        </div>
    </div>
   

         <section>
          <ul id='services'>
            <h2>Social</h2>
            <li>
              <div class='entypo-facebook' onclick="window.location='https://www.facebook.com/JikoPower-Inc-1038972226116384/';" style="cursor:pointer;"></div>
              <span><a href="https://www.facebook.com/JikoPower-Inc-1038972226116384/">Facebook</a></span>
            </li>
            <li>
              <div class='entypo-twitter' onclick="window.location='https://twitter.com/JikoPowerInc';" style="cursor:pointer;"></div>
              <span><a href="https://twitter.com/JikoPowerInc">Twitter</a></span>
            </li>
            <li>
              <div class='entypo-video' onclick="window.location='https://www.youtube.com/channel/UCFIMLnZgT-aoI74FRHIuWpg';" style="cursor:pointer;"></div>
              <span><a href="https://www.youtube.com/channel/UCFIMLnZgT-aoI74FRHIuWpg">Youtube</a></span>
            </li>
            <li>
              <div class='entypo-linkedin' onclick="window.location='https://www.linkedin.com/profile/edit-picture-info?trk=hp-identity-add-photo';" style="cursor:pointer;"></div>
              <span><a href="https://www.linkedin.com/profile/edit-picture-info?trk=hp-identity-add-photo">Linkedin</a></span>
            </li>
          </ul>
        </section>

    <section class="for-full-back color-white text-center" id="contact-inner">
        <div class="container">
                    
                    <form action="MAILTO:rahearn9@gmail.com" method="post" enctype="text/plain">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h3 class="title">Get In Touch</h3>
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" required="required" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control" required="required" placeholder="Email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" style="min-height:200px;" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg">SUBMIT REQUEST</button>
                                </div>
                            </div>
                        </div>
                    </form>
                     <div id="add">
                        <br />
                         E-mail: www.jikopowerinc@yahoo.com
                    </div>
              
        </div>
    </section>
   
  
    <!--END SOCIAL SECTION-->
    <!--FOOTER SECTION -->
     <div class="footer">
        2015 www.jikopowerinc.com | All Right Reserved | website made by: <a href="https://www.facebook.com/profile.php?id=100006516709238">Kanghui Liu</a>      
    </div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="plugins/vegas/jquery.vegas.min.js"></script>
     <!-- SCROLL SCRIPTS -->
    <script src="plugins/jquery.easing.min.js"></script>
    <script src="plugins/jquery.contenthover.js"></script>
    <script src="plugins/timeline/lib/jquery.cntl.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var delay = 1000;
            $('.one-by-one > li').each(function(){
                $(this).hide().delay(delay).fadeIn(1850);
                delay += 1000;
            });
        });

    </script>

   
    <!-- CUSTOM SCRIPTS -->

</body>
</html>
