<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kanghui Liu">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title> JikoPower</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- FONTAWESOME STYLE CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <!-- VEGAS STYLE CSS -->
<!--     <link href="assets/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" /> -->
    <!-- CUSTOM STYLE CSS -->
    <link href="stylesheets/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

     <div class="navbar navbar-inverse navbar-fixed-top scrollclass" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">JikoPower</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">HOME</a></li>
                     <li><a href="#team">TEAM</a></li>
                    <li><a href="#clients-testimonial">TESTIMONIALS</a></li>
                    <li><a href="#pricing">PRICING</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                     <li><a href="#social-section">SOCIAL</a></li>
                    
                </ul>
            </div>
           
        </div>
    </div>
   

   
    <!--HOME SECTION-->
    <div class="container" id="home">
        <div class="row text-center scrollclass">
            <div class="col-md-12">
                <span class="head-main">POWERING DEVICES. EMPOWERING PEOPLE</span>
                <h3 class="head-last">A personal power generator that turns excess heat from cook fires into electricity for homes across Africa and the world.</h3>
                <a href="/spec" class="btn btn-primary btn-lg ">Project Spec</a> 
            </div>
        </div>
    </div>
    <!--END HOME SECTION-->

    <!--ABOUT SECTION-->
    <section class="for-full-back color-bg-one" id="team">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>The JikoPower Team</h1>
                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                        <h5>
                   
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="for-full-back color-white" id="about-team">
        <div class="container">
            <div class="row text-center g-pad-bottom">
                <div class="col-md-8 col-md-offset-2 ">
                    <h3>OUR TEAM MEMBERS</h3>
                    <h5>JikoPower is a diverse team completely made up of <u>full-time University of Washington students</u> who possess the <u>skills</u>, <u>experience</u>, and, most importantly, <u>passion</u> necessary to refine and market the JikoPower Personal Power Station.                          
                    </h5>
                </div>

            </div>

            <div class="row g-pad-bottom">
                <div class="col-md-6"> 

                       <div class=“team-member” id="d1" style=" height:180px; background:#eee; ">
                            <img src="images/team/Ryan-Ahearn.png" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Ryan Ahearn</h2>
                                <h5>Senior Mechanical Engineering undergraduate at UW</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p sytle="padding: 10% 0;">Ryan is project leader for UW EcoCAR, a proud father, and a skilled machinist. He is currently involved with Engineers without Borders, working to bring technology education to the people of Uganda. Ryan spent four years managing an entertainment venue prior to attending the UW.</p>
                        </div>

                        <div class="clearfix"></div>



                       <div class=“team-member” id="d2" style=" height:180px; background:#eee; ">
                            <img src="images/team/Aaron-Owen.png" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Aaron Owen</h2>
                                <h5>Senior Mechanical Engineering undergraduate at UW</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p>Aaron Owen is an undergraduate research assistant in the UW Microtechnology Lab where he is working on another clean energy generator involving magnetic levitation. Aaron will be making his second trip to Africa this year as part of a UW program on "ecopreneurship" in developing countries</p>
                        </div>

                        <div class="clearfix"></div>

                       <div class=“team-member” id="d3" style=" height:180px; background:#eee; ">
                            <img src="images/team/Daniel-Parrish.png" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Daniel Parrish</h2>
                                <h5>Senior Mechanical Engineering undergraduate at UW</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p>Daniel Parrish is a master mechanic and has been working with heating problems in electronics for years before joining JikoPower.</p>
                        </div>

                        <div class="clearfix"></div>

                </div>


                <div class="col-md-6"> 

                       <div class=“team-member” id="d4" style=" height:180px; background:#eee; ">
                            <img src="images/team/Joe-Koch.png" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Joe Koch</h2>
                                <h5>Foster School of Business MBA student</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p sytle="padding: 10% 0;">Joe Koch is a Foster School of Business MBA student with a passion for content, design, and  innovative products. He has provided management consulting to several Fortune 500 companies in the area of process improvement. He has also worked with two startup companies to provide brand strategy, design and marketing consulting services.</p>
                        </div>

                        <div class="clearfix"></div>



                       <div class=“team-member” id="d5" style=" height:180px; background:#eee; ">
                            <img src="images/team/Meghna-Singla.png" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Meghna Singla</h2>
                                <h5>Foster School of Business</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p>Meghna Singla worked with Google for seven years prior to coming to Foster School of Business, where she gained significant experience in cross-functional leadership, project management, enterprise sales, digital marketing and client and vendor relationship management. Her passion for innovation and technology got her to Google and now to Seattle. She plans to continue her career in the tech industry focusing on Marketing and Product Management side of business.</p>
                        </div>

                        <div class="clearfix"></div>

                       <div class=“team-member” id="d6" style=" height:180px; background:#eee; ">
                            <img src="images/team/Shubha-Pratiwadibhayankar.png" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Shubha Pratiwadibhayankar</h2>
                                <h5>MBA student at the Foster School of Business,</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p>Shubha Pratiwadibhayankar is an MBA student at the Foster School of Business, and a Senior Program Manager at Microsoft. Shubha grew up in India, and is all too familiar with the problems associated with the lack of electricity in developing countries.</p>
                        </div>

                        <div class="clearfix"></div>

                </div>

                
            </div>
           

        </div>
    </section>
    <!--END ABOUT SECTION-->

     <!--CLIENT TESTIMONIALS SECTION-->
       <section id="clients-testimonial">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 ">
                    <h1>Clients Testimonials</h1>
 <div id="carousel-example" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container center">
                                <div class="col-md-6 col-md-offset-3 slide-custom">
                                   
                                    <h4><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i></h4>
                                     <div class="user-img pull-right">
						<img src="images/user.gif" alt="" class="img-u image-responsive"  />
					</div>
                                    <h5 class="pull-right"><strong class="c-black">Lorem Dolor</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container center">
                                <div class="col-md-6 col-md-offset-3 slide-custom">
                                    <h4> <i class="fa fa-quote-left"></i> Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. <i class="fa fa-quote-right"></i></h4>
                                         <div class="user-img pull-right">
						<img src="images/user2.png" alt="" class="img-u image-responsive"  />
					</div>
                                    <h5 class="pull-right"><strong class="c-black">Faucibus luctus</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container center">
                                <div class="col-md-6 col-md-offset-3 slide-custom">
                                    <h4><i class="fa fa-quote-left"></i>Sed ultricies, libero ut adipiscing fringilla, ante elit luctus lorem, a egestas dui metus a arcu condimentum. <i class="fa fa-quote-right"></i></h4>
                                        <div class="user-img pull-right">
						<img src="images/user.gif" alt="" class="img-u image-responsive"  />
					</div>
                                    <h5 class="pull-right"><strong class="c-black">Sed ultricies</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
           </section>
     <!--END CLIENT TESTIMONIALS SECTION-->
    <!--PRICE SECTION-->
     <section class="for-full-back color-bg-one" id="pricing">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Competition</h1>

                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                        <h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="price-sec" class="for-full-back color-white">
        <div class="container">
   
               <div class="table-responsive">          
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>JikoPower</th>
                        <th>FlameStower</th>
                        <th>Biolite</th>
                        <th>PowerPot</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="td-left">No Moving Parts</td>
                        <td> <span class="glyphicon glyphicon-ok"></span></td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                        <td><span class="glyphicon glyphicon-remove"></span></td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                      </tr>
                      <tr>
                        <td class="td-left">Output > 2W</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                        <td><span class="glyphicon glyphicon-remove"></td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                      </tr>
                      <tr>
                        <td class="td-left">Cost < $50</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                        <td><span class="glyphicon glyphicon-remove"></td>
                        <td><span class="glyphicon glyphicon-remove"></td>
                        <td><span class="glyphicon glyphicon-remove"></td>
                      </tr>
                      <tr>
                        <td class="td-left">Low-Temp Chips</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                        <td><span class="glyphicon glyphicon-remove"></td>
                        <td><span class="glyphicon glyphicon-remove"></td>
                        <td><span class="glyphicon glyphicon-remove"></td>
                      </tr>
                      <tr>
                        <td class="td-left">Made from Standard Parts</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                        <td><span class="glyphicon glyphicon-remove"></td>
                        <td><span class="glyphicon glyphicon-remove"></td>
                        <td><span class="glyphicon glyphicon-remove"></td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>

        </div>
    </section>
    <!-- END PRICE SECTION-->

  
    <!--STATS SECTION-->
    <section>
        <div class="container">
            <div class="row ">
                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>5000+ </h3>
                        <h4>Projects</h4>
                    </div>
                </div>


                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>205+ </h3>
                        <h4>Countries</h4>
                    </div>

                </div>
                <div class="col-md-3 ">

                    <div class="stats-div">
                        <h3>1300+ </h3>
                        <h4>Offices</h4>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="stats-div">
                        <h3>2400+ </h3>
                        <h4>Clients</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END STATS SECTION-->

    <!--CONTACT SECTION-->
    <section class="for-full-back color-bg-one" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Contact</h1>
                </div>
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 ">
                        <h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="for-full-back color-white text-center" id="contact-inner">
        <div class="container">
           
                    <h1>GET IN TOUCH</h1>
                    
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" style="min-height:200px;" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit Request</button>
                                </div>
                            </div>
                        </div>
                    </form>
                     <div id="add">
                         <br />
                                                Seattle, WA, USA
                         <br />
                         Call: + 123-00-89-00
                        <br />
                         E-mail: info@binarytheme.com
                    </div>
              
        </div>
    </section>
    <!--END CONTACT SECTION-->
    <!--SOCIAL SECTION-->
    <section id="social-section">
        <div class="container">
            <div class="row text-center">
                    <div class="col-md-4 scl scl-dark-bk">
					<h4>FACEBOOK</h4>
					<p class="text-center"><a href="#"><i class="fa fa-facebook fa-5x"></i></a></p>
				</div>
				<div class="col-md-4 scl">
					<h4 >TWITTER</h4>
					<p class="text-center"><a href="#"><i class="fa fa-twitter fa-5x"></i></a></p>
				</div>
				<div class="col-md-4 scl scl-dark-bk">
					<h4 >GOOGLE +</h4>
					<p class="text-center"><a href="#"><i class="fa fa-google-plus fa-5x"></i></a></p>
				</div>
                    </div>
            </div>
        </section>
  
    <!--END SOCIAL SECTION-->
    <!--FOOTER SECTION -->
    <div class="for-full-back" id="footer">
        2015 www.jikopowerinc.com | All Right Reserved | website made by: <a href="http://liukanghui.xyz" target="_blank" style="color:#fff" >Kanghui Liu</a>
         
    </div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script type="text/javascript" src="js/app.js"></script>
    <script src="plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="plugins/vegas/jquery.vegas.min.js"></script>
     <!-- SCROLL SCRIPTS -->
    <script src="plugins/jquery.easing.min.js"></script>
    <script src="plugins/jquery.contenthover.js"></script>
   
    <!-- CUSTOM SCRIPTS -->
    <script src="js/custom.js"></script>

</body>
</html>
