<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kanghui Liu">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title> JikoPower</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- FONTAWESOME STYLE CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <!-- VEGAS STYLE CSS -->

    <link href="plugins/timeline/lib/cntl.css" rel="stylesheet" />
<!--     <link href="assets/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" /> -->
    <!-- CUSTOM STYLE CSS -->
    <link href="stylesheets/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

     <div class="navbar navbar-inverse navbar-fixed-top scrollclass" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="images/jikobanner.jpg" width="200"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">HOME</a></li>
                     <li><a href="/commitment">COMMITMENT</a></li>
                    <li><a href="/problem">CHALLENGE</a></li>
                    <li><a href="/timeline">TIMELINE</a></li>
                    <li><a href="/team">TEAM</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    
                </ul>
            </div>
           
        </div>
    </div>
   

<div class="content">


    <section class="for-full-back color-white">
        <div class="container">
            <div class="row g-pad-bottom">
                <div class="col-md-8 col-md-offset-2 ">
                    <h3 class="title">The Challenge</h3>
                    <p class="description">In Sub-Saharan African, 7 out of 10 people are farmers and live meager lives. Recent advantages in technology are changing the way Africans live and work, and many now rely on cell phones and computers for communication and information. However, electrical infrastructure is lacking. Some 40-90% of Afrikaners have access to cell phones or computers, <strong>but electrification, especially in Sub-Saharan

nations, is much lower at about 20%.</strong> 
                    </p>
                </div>





<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/images/challenge/chargin.png" alt="Chania" >
      </div>


    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div


            </div>

        </div>
    </section>



    </div>

      <div class="learn-more center-button" style="padding-top:3%;">
          <button type="button" class="btn"><a href="/timeline">OUR TIMELIME</a></button>
          <button type="button" class="btn green-btn"><a href="/commitment">FUND US</a></button>
    </div>






</div>




<!-- <div class="bounce"><i class="fa fa-angle-double-down"></i></div> -->
   


  
    <!--END SOCIAL SECTION-->
    <!--FOOTER SECTION -->
     <div class="footer">
        2015 www.jikopowerinc.com | All Right Reserved | website made by: <a href="https://www.facebook.com/profile.php?id=100006516709238">Kanghui Liu</a>      
    </div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="plugins/vegas/jquery.vegas.min.js"></script>
     <!-- SCROLL SCRIPTS -->
    <script src="plugins/jquery.easing.min.js"></script>
    <script src="plugins/jquery.contenthover.js"></script>
    <script src="plugins/timeline/lib/jquery.cntl.js"></script>

   
    <!-- CUSTOM SCRIPTS -->

</body>
</html>
