<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kanghui Liu">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title> JikoPower</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- FONTAWESOME STYLE CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <!-- VEGAS STYLE CSS -->

    <link href="plugins/timeline/lib/cntl.css" rel="stylesheet" />
<!--     <link href="assets/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" /> -->
    <!-- CUSTOM STYLE CSS -->
    <link href="stylesheets/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

     <div class="navbar navbar-inverse navbar-fixed-top scrollclass" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="images/jikobanner.jpg" width="200"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                      <li><a href="/">HOME</a></li>
                     <li><a href="/commitment">COMMITMENT</a></li>
                    <li><a href="/problem">CHALLENGE</a></li>
                    <li><a href="/timeline">TIMELINE</a></li>
                    <li><a href="/team">TEAM</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    
                </ul>
            </div>
           
        </div>
    </div>
   


    <div class="content">


    <section class="for-full-back color-white" id="about-team">
        <div class="container">
            <div class="row g-pad-bottom">
                <div class="col-md-8 col-md-offset-2 ">
                    <h3 class="title">Meet the Team</h3>
                    <p>JikoPower is a diverse team completely made up of <strong>full-time University of Washington students who possess the skills, experience, and, most importantly, passion</strong> necessary to refine and market the JikoPower Personal Power Stat                         
                    </p>
                </div>

            </div>

            <div class="row g-pad-bottom">
                <div class="col-md-8 col-md-offset-2"> 

                       <div class=“team-member” id="d1" style=" height:200px; background:#eee; ">
                            <img src="images/team/Ryan-Ahearn.png" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Ryan Ahearn</h2>
                                <h5>Senior Mechanical Engineering undergraduate at UW</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p sytle="padding: 10% 0;">Ryan is project leader for UW EcoCAR, a proud father, and a skilled machinist. He is currently involved with Engineers without Borders, working to bring technology education to the people of Uganda. Ryan spent four years managing an entertainment venue prior to attending the UW.</p>
                        </div>

                        <div class="clearfix"></div>



                       <div class=“team-member” id="d2" style=" height:200px; background:#eee; ">
                            <img src="images/team/Aaron-Owen.png" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Aaron Owen</h2>
                                <h5>Senior Mechanical Engineering undergraduate at UW</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p>Aaron Owen is an undergraduate research assistant in the UW Microtechnology Lab where he is working on another clean energy generator involving magnetic levitation. Aaron will be making his second trip to Africa this year as part of a UW program on "ecopreneurship" in developing countries</p>
                        </div>

                        <div class="clearfix"></div>

                       <div class=“team-member” id="d3" style=" height:200px; background:#eee; ">
                            <img src="images/team/Daniel-Parrish.jpeg" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Daniel Parrish</h2>
                                <h5>Senior Mechanical Engineering undergraduate at UW</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p>Daniel Parrish is a master mechanic and has been working with heating problems in electronics for years before joining JikoPower.</p>
                        </div>

                        <div class="clearfix"></div>

                       <div class=“team-member” id="d4" style="height:200px; background:#eee; ">
                            <img src="images/team/zhenzhen.png" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Zhenzhen Su</h2>
                                <h5>Undergraduate senior majoring in Material Science and Engineering</h5>
                            </div>
                        </div>

                        <div class="contenthover" >
                            <p>Zhenzhen had engineering project experience in solvent development and manufacture process control of metal alloys mentored by Boeing engineers and Rolls Royce. She had organizational and leadership experience when working as social activity officer and as an liason for non-profit organization where she developed and ran volunteer programs and high school outreach programs. She is passionate about the underlying issues that affect people's lives and hinder economic development and is eager to learn about culture and daily life of African people.
</p>
                        </div>

                        <div class="clearfix"></div>

                       <div class=“team-member” id="d5" style=" height:200px; background:#eee; ">
                            <img src="images/team/michael.png" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Michael Jooste</h2>
                                <h5>Senior of Business Administration &

Entrepreneurship <br>Foster School of Business</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p>Hardworking and compassionate entrepreneur committed to developing and implementing world-changing solutions. Specializes in management, leadership, and consulting with two years of management & small-business experience. 
                        </div>

                        <div class="clearfix"></div>


                      <div class=“team-member” id="d6" style=" height:200px; background:#eee; ">
                            <img src="images/team/asher.jpg" class="img-circle"    alt="">
                            <div class="name-major">
                                <h2>Asher Jacobson</h2>
                                <h5>Foster School of Business</h5>
                            </div>
                        </div>

                        <div class="contenthover">
                            <p>Asher is a driven student, avid learner, and aspiring entrepreneur. He's passionate about social impact investing and world travel. Asher visited Kenya in 2006
                        </div>

                        <div class="clearfix"></div>

                </div>
                
            </div>
           

        </div>
    </section>

    </div>

    <!--END ABOUT SECTION-->



      <div class="learn-more">
            <button type="button" class="btn"><a href="/contact">GET CONNECTED WITH US！</a></button>
      </div>








   
  
    <!--END SOCIAL SECTION-->
    <!--FOOTER SECTION -->
     <div class="footer">
        2015 www.jikopowerinc.com | All Right Reserved | website made by: <a href="https://www.facebook.com/profile.php?id=100006516709238">Kanghui Liu</a>      
    </div>    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="plugins/vegas/jquery.vegas.min.js"></script>
     <!-- SCROLL SCRIPTS -->
    <script src="plugins/jquery.easing.min.js"></script>
    <script src="plugins/jquery.contenthover.js"></script>
    <script src="plugins/timeline/lib/jquery.cntl.js"></script>

   
    <!-- CUSTOM SCRIPTS -->

</body>
</html>
